* {
  font-family: "Source Serif 4", serif;
  font-size: 24px;
}

html {
  background-color: #3F4F44;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

header {
  align-items: center;
  background-color: #2C3930;
  box-sizing: border-box;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 2rem;
  width: 100vw;
}

header > h1 {
  color: #DCD7C9;
  font-size: 2rem;
  font-weight: 700;
}

header > nav > a {
  color: #DCD7C9;
  margin-left: 20px;
  text-decoration: none;
  transition: 300ms ease-in-out color;
}

header > nav > a:hover {
  color: #A27B5C;
}

@media (max-width: 900px) {
  * {
    font-size: 16px;
  }

  header > nav > a {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  header > nav {
    display: none;
  }
}