* {
  color: #5F7161;
  font-family: "Libre Baskerville", serif;
  font-size: 1.15rem;
}

html {
  background-color: #EFEAD8;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 1400px;
}